.redText {
  color: #f5455c;
}

.hero_heading {
  color: #030c1a;
}

.hero_subheading {
  color: #87898d;
  font-size: clamp(16px, 4.5vw, 20px);
}

.community_news {
  background-color: #f7f8fa;
  width: 98vw;
  overflow: hidden;
}

.title {
  font-size: clamp(22px, 4.6vw, 30px);
}
