.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 38rem;
}

.card {
  width: clamp(15rem, 24vw, 17rem);
  height: clamp(8rem, 16vw, 11rem);
  background-color: #f7f8fa;
  border-radius: 6px;
  margin: clamp(0.4rem, 2vw, 1rem);
  padding: clamp(1.4rem, 2vw, 1.8rem);
}

.card_heading {
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  padding-bottom: 8px;
}

.card_body {
  font-size: clamp(0.85rem, 1.3vw, 1rem);
  font-weight: 300;
}

.card:hover,
.card:active {
  background: #1d74f5;
  color: white;
}
